<div id="<%= dom_id balance %>">
  <p>
    <strong>Creator:</strong>
    <%= balance.creator_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= balance.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= balance.description %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= balance.creation_date %>
  </p>

</div>
