<div id="<%= dom_id balance_item %>">
  <p>
    <strong>Balance:</strong>
    <%= balance_item.balance_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= balance_item.category_id %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= balance_item.creator_id %>
  </p>

  <p>
    <strong>Payer:</strong>
    <%= balance_item.payer_id %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= balance_item.participant_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= balance_item.amount %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= balance_item.currency_id %>
  </p>

</div>
